<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    link(rel="stylesheet", href="css/style.css")
    title Proof of Concept - Reacting on mousemove and animated background
  body
    .wrapper-content
      h1 TEXT
    .wrapper-front
      - let number = 10
      each _, i in Array(number*number)
        label.element(for=`id${i+1}`)
    .wrapper-back
      each _, i in Array(number*number)
        input.back-input(type="text",id=`id${i+1}`,name=`#id${i+1}`,disabled)
      .background
        svg.svg-img(viewBox="0 0 400 400")
          path